html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#source {
    position: absolute;
    right: 0;
    top: 0;
}

#navigation a {
    margin-right: 1em;
}

pre, p, ul {
    margin: 0em;
    padding: 0em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border:solid #000 !important;
    border-width:1px 0 0 1px !important;
}
table td, th {
    /* border: 1px solid black; */
    border:solid #000 !important;
    border-width:0 1px 1px 0 !important;
    vertical-align: top;
}
table li {
    /* display: inline; */
    list-style: none;
}

@media print {
    @page {
        margin: 1em;
    }
    #navigation, #source {  /* and (min-width: 500px) */
        display: none;
    }
    table { 
        page-break-inside:auto;
    }
    tr {
        page-break-inside:avoid; 
        page-break-after:auto;
    }
}
